ul#stats {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 0.5em;
	margin: 0.75em;
	background-color: var(--container-background);
	padding: 1em;
	border-radius: 0.75em;
	border-top-left-radius: calc(15pt - 0.75em);// Parent border radius minus margin
	box-shadow: 0pt 5pt 29pt -5pt var(--container-shadow);
	opacity: 0.75;
	z-index: 3;

	li {
		display: flex;
		list-style-type: none;

		.key {
			font-weight: bolder;
		}

		.value {
			font-weight: lighter;
			text-align: right;
			flex-grow: 1;
			margin-left: 0.5em;
		}
	}
}