/* Light mode */
html {
	--background: #ecf0f1;
	--foreground: #212121;

	--button-background: #ccc;
	--button-foreground: #333847;

	--accent: oklch(0.65 0.16 239.0);

	--error-color: oklch(59.85% 0.224 36.53);
	--modal-background: #ecf0f1;
	--modal-foreground: #212121;

	--container-background: #bdc3c7;
	--container-shadow: #95a5a6;
	--container-border: rgba(0, 0, 0, 0.05);
}

body {
	transition: background 500ms ease, backdrop-filter 1s ease;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	html {
		--background: #212121;
		--foreground: #fefefe;

		--button-background: rgba(255, 255, 255, 0.05);
		--button-foreground: #fefefe;

		--modal-background: #ecf0f1;
		--modal-foreground: #212121;

		--container-background: rgba(43, 43, 48, 0.45);
		--container-shadow: rgba(0, 0, 0, 0.25);
		--container-border: rgba(0, 0, 0, 0.1);
	}
}