@import "variables";
@import "animations";
@import "modal";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	line-height: 1.25;
	letter-spacing: 0.025em;
	backface-visibility: hidden;

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

html, body {
	color: var(--foreground);
	overflow: hidden;
	width: 100dvw;
	width: 100vw;
	width: 100%;

	height: -webkit-fill-available;
	height: -moz-available;
	height: 100dvh;
	height: 100vh;
	height: 100%;

	pointer-events: none;
	-ms-touch-action: none;
	touch-action: none;
}

html {
	background-color: var(--background);
}

body {
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;

	animation: animate-fade-in ease 250ms forwards;

	display: flex;
	place-content: center;
	place-items: center;
}

canvas {
	background-color: var(--container-background);
	border: 1px solid var(--container-border);
	border-radius: 15pt;
	box-shadow: 0pt 5pt 29pt -5pt var(--container-shadow);

	transition: border-color ease 500ms, background-color ease 500ms;

	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;

	pointer-events: all;
}