<footer>
	<button id="cpu" title="Plain JavaScript with HTML Canvas API">CPU</button>
	<button id="mathjs" title="Plain JavaScript with HTML Canvas API and math.js">CPU + MathJS</button>
	<button id="wasm" title="WebAssembly module with HTML Canvas API">CPU - WASM</button>
	<button id="webgl" title="WebGL fragment shader">GPU - WebGL</button>
	<button id="webgpu" title="WebGPU fragment shader">GPU - WebGPU</button>
</footer>