<!-- Error modal -->
<dialog id="dialog-error">
	<form method="dialog">
		<button>
			<%- include('./../assets/ic-close.svg') %>
		</button>

		<header>
			<%- include('./../assets/ic-attention.svg') %>
			<h2></h2>
		</header>

		<p></p>
	</form>
</dialog>
