<ul id="stats">
	<li title="The amount of frames displayed in a second (estimated)">
		<span class="key">FPS:</span>
		<span class="value" id="fps">0</span>
	</li>
	<li title="The average frame time (The time to process and generate each frame)">
		<span class="key">Avg. ft.:</span>
		<span class="value" id="avg-frametime">0</span>
	</li>
	<li title="The minimum frame time (The time to process and generate each frame)">
		<span class="key">Min. ft.:</span>
		<span class="value" id="min-frametime">0</span>
	</li>
	<li title="The maximum frame time (The time to process and generate each frame)">
		<span class="key">Max. ft.:</span>
		<span class="value" id="max-frametime">0</span>
	</li>
	<li title="Used memory information">
		<span class="key">Memory.:</span>
		<span class="value" id="memory">0</span>
	</li>
</ul>